@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap'); */
@font-face {
  font-family: "BROmegaVN-Black";
  src: url("../public/assets/fonts/BROmegaVN-Black.otf");
}
@font-face {
  font-family: "BROmegaVN-BlackItalic";
  src: url("../public/assets/fonts/BROmegaVN-BlackItalic.otf");
}
@font-face {
  font-family: "BROmegaVN-Bold";
  src: url("../public/assets/fonts/BROmegaVN-Bold.otf");
}
@font-face {
  font-family: "BROmegaVN-BoldItalic";
  src: url("../public/assets/fonts/BROmegaVN-BoldItalic.otf");
}
@font-face {
  font-family: "BROmegaVN-Light";
  src: url("../public/assets/fonts/BROmegaVN-Light.otf");
}
@font-face {
  font-family: "BROmegaVN-LightItalic";
  src: url("../public/assets/fonts/BROmegaVN-LightItalic.otf");
}
@font-face {
  font-family: "BROmegaVN-Regular";
  src: url("../public/assets/fonts/BROmegaVN-Regular.otf");
}
@font-face {
  font-family: "BROmegaVN-RegularItalic";
  src: url("../public/assets/fonts/BROmegaVN-RegularItalic.otf");
}
